*.o
*.swp
src/libtree_thing.a
src/libtree_thing.la
src/tree_thing.lo
src/.libs
exe/tree
config
config.log
aclocal.m4
autom4te.cache
configure
config.status
Makefile.in
Makefile
.deps
.dirstamp
libtool
tests/*.log
tests/test
tests/test.trs
